/* 화이트 검정색 회색 */
:root {
  /* Color styles */
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(245, 245, 245, 1);
}

.ui-component {
  /* background: lightblue; */
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: var(--black);
  margin-block: 0px;
  padding: 0px;
  border: none;
}
.about {
  /* background: gray; */
  padding: 64px;
  display: flex;
  flex-direction: row;
  gap: 38px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width <= 900px) {
  .about {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 56px 36px;
  }

  .about-card {
    width: 100%; /* 부모 너비를 꽉 채움 */
    min-width: 300px; /* 너무 작아지지 않게 최소 너비 고정 */
  }
}

@media (max-width: 500px) {
  .about {
    flex-direction: column;
    padding: 40px 24px;
  }

  .about-card {
    width: 100%; /* 부모 너비를 꽉 채움 */
    min-width: 300px; /* 너무 작아지지 않게 최소 너비 고정 */
  }
}

.about-card {
  width: 100%;
  background: var(--white);
  column-gap: 38px;
  line-height: 1.5;

  .icon {
    margin-bottom: 12px;
  }

  .content {
    flex-grow: 1;
  }

  .about-title,
  .about-text {
    margin-bottom: 12px;
  }
  /* h2 제목 */
  .about-title {
    font-weight: 600;
    font-size: 21.33px;
  }

  /* p 설명 */
  .about-text {
    font-weight: 400;
    font-size: 16px;
  }

  /* a 자세히 보기 */
  .link-more {
    margin-top: auto;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 8px;
    display: inline-block;
  }
}
