/* 카드 ui 고정 */
.download-wrap {
  display: grid;
  background-color: var(--white);
  grid-template-columns: repeat(2, auto) 1fr;
  align-items: center;
  padding: 16px 8px;

  a {
    width: 100%;
    height: 100%;
    display: contents;
  }

  span {
    font-family: 'Pretendard Variable', sans-serif;
    order: 1;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5em;
  }

  .logo-d {
    inline-size: 104px;
    aspect-ratio: 1/1;
    margin-right: 2.25rem;
  }

  .arrow-d {
    order: 2;
    place-self: center end;
    width: 56px;
    height: 56px;
  }
}

/* 다운로드 반응형 및 영역 작업 */
.download-container {
  background-color: var(--gray);
  padding: 2.5rem 1.5rem;

  @media (850px <= width) {
    padding: 3.5rem 4rem;
  }
  h2 {
    @media (850px <= width) {
      font-size: 1.75rem;
    }
    @media (1680px <= width) {
      margin: 2.25rem auto;
      font-size: 2.3125rem;
      line-height: 1.4em;
    }
  }

  ul {
    @media (1680px <= width) {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
    }

    li {
      &:first-child {
        margin-bottom: 2.25rem;

        @media (width>= 1680px) {
          margin-right: 2.25rem;
        }
      }
    }
  }
  .download-wrap {
    @media (1680px <= width) {
      width: 750px;
      aspect-ratio: 4/1;
    }
  }
}
