.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 24px;
}

h2 {
  font-size: 28.43px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 39.802px */
  padding-bottom: 36px;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-bottom: 36px;

  span {
    font-size: 21.328px;
    font-weight: 600;
    line-height: 150%; /* 31.992px */
  }

  a {
    border-bottom: 1px solid var(--content-bottom);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    padding: 4px;
    align-items: flex-start;
  }
}

.ui-component {
  border: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name-row {
  display: flex;
  gap: 16px;
}

.name-row .input {
  flex: 1;
}

/* 기본모양, 포커스 */
input,
select {
  width: 100%;
  padding: 12px;
  background-color: var(--gray);
  border: 2px solid transparent;
  outline: none;
  box-sizing: border-box;
  appearance: none;

  &:focus {
    border: 2px solid var(--black);
    color: var(--black);

    &::placeholder {
      color: var(--black);
    }
  }
}

/* 에러 */
.error-message {
  display: none;
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
}

input:not(:placeholder-shown):invalid {
  border: 2px solid var(--error);
  background-color: var(--error-bg);
}

input:not(:placeholder-shown):invalid + .error-message {
  display: block;
}

/* 텍스트 */
.explanation {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  align-self: stretch;
  padding-block: 20px;
}

/* 버튼 디자인 */
.login {
  display: flex;
  align-items: center;
  gap: 36px;

  button {
    background-color: var(--black);
    color: var(--white);
    padding: 16px 24px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    cursor: pointer;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
  }

  .login-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    border-bottom: 2px solid var(--black);
    padding: 4px;
  }
}

/* 미디어쿼리 */
@media (width >= 501px) {
  .container {
    max-width: 900px;
    width: 100%;
    padding: 56px 32px;
  }

  input:focus,
  select:focus {
    border: 2px solid var(--green);
    background-color: var(--green-bg);
  }
}

@media (width >= 901px) {
  .container {
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
  }

  h2 {
    flex: 0 0 50%;
    align-self: center;
    margin: 0;
  }

  .sign-up,
  .ui-component {
    flex: 0 0 50%;
    box-sizing: border-box;
  }

  .sign-up {
    margin-bottom: 24px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input:focus,
  select:focus {
    border: 2px solid var(--green);
    background-color: var(--green-bg);
  }
}
