<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>프로젝트 - CSS</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/component/css/about-03.css" />

    <script type="module" src="/src/js/copy-component.js"></script>
  </head>

  <body>
    <h1 class="sr-only">회사 정보 섹션</h1>
    <div class="ui-component">
      <div class="about">
        <section class="about-card">
          <img src="/src/assets/Box.svg" class="icon" alt="" aria-hidden="true" />
          <div class="content">
            <h2 class="about-title">회사소개</h2>
            <p class="about-text">UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 대해 알아보세요.</p>
          </div>
          <a
            href="https://www.uber.com/kr/ko/about/?uclick_id=7b9fd590-02b1-46e9-8905-c3118e2c7fe5&utm_source=AdWords_Brand&utm_campaign=CM2563899-search-google-brand_91_-99_KR-National_r_web_acq_cpc_ko_T1_Generic_BM_%EC%9A%B0%EB%B2%84_kwd-299514669799_742680050825_180026252831_b_c&ad_id=742680050825&campaign_id=22388415325&kwid=kwd-299514669799&kw=%EC%9A%B0%EB%B2%84&gclid=CjwKCAiA9aPKBhBhEiwAyz82JyAjH_ZOR-oEWhRSVCDe3YFp5gM-1ueZEalmK2KzfMbHj46HwxRQdBoC0K0QAvD_BwE&gbraid=0AAAAADiA3jqRs58_NMhdkDIxrwJ-GeChZ"
            class="link-more"
            >자세히 보기</a
          >
        </section>

        <section class="about-card">
          <img width="24px" height="24px" src="/src/assets/Paper.svg" class="icon" alt="" aria-hidden="true" />
          <div class="content">
            <h2 class="about-title">뉴스룸</h2>
            <p class="about-text">UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 대해 알아보세요.</p>
          </div>
          <a href="https://www.uber.com/ko-KR/newsroom/" class="link-more">자세히 보기</a>
        </section>
      </div>
      <button type="button" class="copy-component">복사</button>
    </div>
  </body>
</html>
