@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

/* 애니메이션 관련 CSS */
/* fade */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* shrink */
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

/* bounce */
@keyframes bounce {
  0% {
    /* transform: translateY(0); */
    translate: 0 0;
  }

  100% {
    /* transform: translateY(-20px); */
    translate: 0 -20px;
  }
}

/* shake */
@keyframes shake {
  0% {
    translate: 0 0;
  }

  100% {
    translate: -10px 0;
  }
}

/* flip */
@keyframes flip {
  0% {
    rotate: y 0;
  }

  100% {
    rotate: y 360deg;
  }
}

/* pulse */
@keyframes pulse {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

/* wobble */
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%) rotate(0deg);
  }
  15% {
    transform: translateX(-15px) rotate(-5deg);
  }
  30% {
    transform: translateX(10px) rotate(3deg);
  }
  45% {
    transform: translateX(-10px) rotate(-3deg);
  }
  60% {
    transform: translateX(5px) rotate(2deg);
  }
  75% {
    transform: translateX(-5px) rotate(-1deg);
  }
}

/* spin */
@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/* angle */
@keyframes angle {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
